<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.ericfeunekes.workoutdb</string>
	<key>UserName</key>
	<string>eric</string>
	<key>ProgramArguments</key>
	<array>
		<string>/opt/workoutdb/current/deploy/run.sh</string>
	</array>
	<key>WorkingDirectory</key>
	<string>/opt/workoutdb/current</string>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>StandardOutPath</key>
	<string>/opt/workoutdb/shared/logs/stdout.log</string>
	<key>StandardErrorPath</key>
	<string>/opt/workoutdb/shared/logs/stderr.log</string>
</dict>
</plist>
